<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smeyun.payment.gopay">
	<resultMap type="com.smeyun.payment.gopay.entity.PayNotifyData" id="notifyResult">
		<result column="ID" property="id" javaType="long" />
		<result column="REQ_ID" property="reqId" javaType="long" />
		<result column="TRADE_NO" property="orderCode" javaType="string" />
		<result column="TOTAL_FEE" property="totalFee" javaType="string" />
		<result column="GOPAY_TRADE_NO" property="gopayTradeNo" javaType="string" />
		<result column="FEE_AMT" property="feeAmt" javaType="string" />
		<result column="COMPLETE_TIME" property="completeTime" javaType="string" />
		<result column="TRADE_STATUS" property="tradeStatus" javaType="string" />
		<result column="TRAN_TIME" property="tranTime" javaType="string" />
		<result column="RECEIVE_TIME" property="receiveTime" javaType="date" />
		<result column="PAY_STATUS" property="payStatus" javaType="boolean" />
	</resultMap>
	
	<!-- 支付记录 -->
	<insert id="insertNotifyData" parameterType="com.smeyun.payment.gopay.entity.PayNotifyData" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO TBL_GOPAY_NOTIFY_MSG (REQ_ID, TRADE_NO, TOTAL_FEE, GOPAY_TRADE_NO, FEE_AMT,
		COMPLETE_TIME, TRADE_STATUS, TRAN_TIME, RECEIVE_TIME, PAY_STATUS)
		VALUES (#{reqId, jdbcType=BIGINT}, #{orderCode, jdbcType=VARCHAR},
		#{totalFee, jdbcType=VARCHAR}, #{gopayTradeNo, jdbcType=VARCHAR},
		#{feeAmt, jdbcType=VARCHAR}, #{completeTime, jdbcType=VARCHAR},
		#{tradeStatus, jdbcType=VARCHAR}, #{tranTime, jdbcType=VARCHAR},
		#{receiveTime, jdbcType=TIMESTAMP}, #{payStatus, jdbcType=BOOLEAN}
		)
	</insert>

	<!-- 根据订单编码查询支付记录 -->
	<select id="queryNotifyDataByOrderCode" resultMap="notifyResult">
		SELECT ID, REQ_ID, TRADE_NO, TOTAL_FEE, GOPAY_TRADE_NO, FEE_AMT,
		    COMPLETE_TIME, TRADE_STATUS, TRAN_TIME, RECEIVE_TIME, PAY_STATUS
		FROM TBL_GOPAY_NOTIFY_MSG
		WHERE TRADE_NO = #{orderCode} ORDER BY RECEIVE_TIME ASC
	</select>
	
	<!-- 根据记录ID查询支付记录 -->
	<select id="queryNotifyDataById" resultMap="notifyResult">
		SELECT ID, REQ_ID, TRADE_NO, TOTAL_FEE, GOPAY_TRADE_NO, FEE_AMT,
		    COMPLETE_TIME, TRADE_STATUS, TRAN_TIME, RECEIVE_TIME, PAY_STATUS
		FROM TBL_GOPAY_NOTIFY_MSG
		WHERE ID = #{id}
	</select>
	
	<!-- 根据记录ID查询支付记录 -->
	<select id="queryNotifyDataByReqId" resultMap="notifyResult">
		SELECT ID, REQ_ID, TRADE_NO, TOTAL_FEE, GOPAY_TRADE_NO, FEE_AMT,
		    COMPLETE_TIME, TRADE_STATUS, TRAN_TIME, RECEIVE_TIME, PAY_STATUS
		FROM TBL_GOPAY_NOTIFY_MSG
		WHERE REQ_ID = #{reqId}
	</select>
	
	<!-- 更新记录 -->
	<update id="updateNotifyData" parameterType="com.smeyun.payment.gopay.entity.PayNotifyData">
	    UPDATE TBL_GOPAY_NOTIFY_MSG SET TRADE_STATUS = #{tradeStatus}, PAY_STATUS = #{payStatus},
	        COMPLETE_TIME = #{completeTime}, RECEIVE_TIME = #{receiveTime, jdbcType=TIMESTAMP}
		WHERE ID = #{id}
	</update>

</mapper>